body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h2,h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.subh{
  font-family: 'Signika', sans-serif;
}

.legacy>p,.container>p,.ibeto>p{
  color: #333333;
}
.center{
  text-align: center;
}

@media (max-width:360px){
  .overlay{
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    width: 100%;
    height: inherit;
  }
}

@media (min-width:300px){
  .brochure{
    text-align: center;
  }
  .brochure-button{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
  }
  .brochure-button a{
    text-decoration: none;
    color: white;
    background-color: #4A148C;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
  }
  .spon16{
    font-size: 23px;
  }
  .reach h2{
    margin-bottom: 0;
  }
  .navbar>div:hover{
    border-bottom: 2px solid #c54d4d;
  }
  .tab-view>div:hover{
    border-bottom: 4px solid #c54d4d;
  }
  section.reach{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .page_links{
    display: none;
  }

  .logo-container{
    margin: auto;
  }

  .logo-container img{
    width: 250px;
  }

  .container{
    width: 90%;
    margin: auto;
  }

  .drop_screen{
    height: 40vh;
    display:flex;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }


  .mec-link{
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    /*bottom: 0;*/
  }
  .college-container img{
    width: 100%;
  }
  .services img{
    width: 200px;
  }
  .mec-link img{
    height: 30px;
  }
  .legacy{
    /*width: 90%;*/
    /*position: absolute;*/
    /*left: 50%;*/
    bottom: 0;
    /*transform: translateX(-50%);*/
    /*background-color: white;*/
    /*background: -webkit-linear-gradient(bottom, white 80%, rgba(255, 255, 255, 0));
    background: linear-gradient(bottom, white 80%, rgba(255, 255, 255, 0));*/

  }
  .legacy>img{
    width: 100%;
  }
  .legacy>p{
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  /*nav style*/
  .navbar{
    display: flex;
    width: 80%;
    margin: auto;
    height:50px;
    margin-bottom: 1px;
  }
  .navbar>div{
    text-align: center;
    height: 100%;
    line-height: 50px;
    width: 25%;
    margin: auto;
  }
  .navbar a{
    color: inherit;
    text-decoration: none;
  }
  .active>a{
    color:#c76268;
  }
  .active{
    border-bottom: 2px solid #c76268;
  }
  /*tab style*/
  .tab-view{
    display: flex;
    width: 100%;
    font-size: 12px;
  }
  .tab-view a{
    text-decoration: none;
    color: inherit;
  }
  .tab-view>div{
    text-align: center;
    margin: auto;
    cursor: pointer;
    border-top: 2px solid transparent;
  }
  .tab-view>div.active-tab{
    border-top: 2px solid #c54d4d;
  }
  .tabview-container{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    z-index: 99;
    height: 63px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .tab-view>div img{
    width: 40px;
    margin-top: 2px;
  }
  /*---------Excel reach--------*/
  section.reach{
    height: 200px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .reach{
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    /*border-bottom: 1px solid #d5d5d5;*/
  }
  .reach-content{
    height: 100px;
    position: relative;
  }
  .reach-content>p,.reach-content div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);;
    width: 95%;
    will-change: transform;
    opacity: 0;
    margin: 0;
    font-size: 15px;
    transition: transform 20s,opacity 0.5s;
  }

  .reach-content #logo{
    opacity: 0;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    animation-duration: 1s;
    transform: translate(-50%,-50%)scale(1);
    transition: transform 20s,opacity 0.5s;
  }

  .reach-content .activate-slide{
    opacity: 1 !important;
    transform: translate(-50%,-50%)scale(0.7) !important;
  }

  .graphic{
    float: right;
    height: 50px;
  }
  .grad{
    background: -webkit-linear-gradient(left,#943ec4, #cd3f5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bolder;
  }
  .reach-content div{
    display: flex;
    justify-content: center;
  }

  .reach-content div *{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
  }

  .tagline{
    display: flex;
    transition: transform 20s,opacity 0.5s;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .tagline img{
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .roots,.ibeto,.services{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .roots{
    padding-bottom: 0 !important;
  }
  .ibetosection a{
    text-decoration: none;
    text-align: center !important;
    width: 50%;
    padding: 10px;
    background-color: #943ec4;
    border-radius: 5px;
    color: white;
    clear: both;
    margin: auto;
    font-size: 20px;
  }

  .roots img,.ibeto img,.services img{
    width: 200px;
    margin: auto;
    display: block;
  }
  .roots h2,.roots p,.ibeto p,.ibeto h2,.ibetosection a,.services p,.services h2{
    text-align: center;
    display: block;
  }

  .ibeto-sec img{
    margin: auto;
    display: block;
    width: 200px;
  }

  /*-------Experience--------*/
  .experience{
    text-align: center;
    padding-top: 20px;
    /*border-bottom: 1px solid #d5d5d5;*/
  }
  .experience-content>div{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
  }
  .experience-content>div>div{
    width: 45%;
    margin: auto;
    text-align: left;
  }
  .experience-content>div>div>p{
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }
  .experience-content>div h3{
    font-size: 8px;
    margin-bottom: 2px;
  }
  /*photo and the text in testimony*/
  .experience-content>div>*{
    width: 50%;
    font-size: 14px;
  }
  .experience-content>div>img{
    height: 50%;
    border-radius: 100%;
  }
  .experience-content>div>div>span{
    font-size: 8px;
  }

 
  /*-----------sponsors-----------*/
  .sponsors{
    text-align: center;
    /*padding-bottom: 50px;*/
    padding-top: 50px;
    /*background-color: #2a2a2a;*/
  }
  .sponsors>h2{
    margin: 0;
    margin-bottom: 20px;
  }
  .autoplay>div{
    width: 100%;
  }
  .autoplay{
    margin: auto;
    width: 90%;
  }
  .autoplay img{
    margin: auto;
  }
  /*---------footer---------*/
  .footer{
    text-align: center;
    margin-bottom: 63px;
    padding-bottom: 10px;
    background-color: #2a2a2a;
  }
  .footer div{
    text-align: center;
    color: white;
    margin: auto;
  }
  .footer>div#cr>h4{
    font-weight: normal;;
    margin: 10px;
  }
  .footer-header{
    background-color: #414040;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .footer-content{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-header h4{
    margin: 0;
    font-weight: bold;
    /*box-sizing: content-box !important;*/
  }
  .footer-content>div{
    display: flex;
    margin: auto;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-content>div>a{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    /*line-height: 50px;*/
    border-radius: 100%;
    margin: auto;
  }
  i{
  	color: #2a2a2a;
    position: relative;
    transform: translatey(-50%);
    top: 50%;
  }
  .fa-2x{
    font-size: 25px !important;
  }
  a.facebook i:hover{
  	color: #3b5998;
  }
  a.twitter i:hover{
  	color: #00aced;
  }
  a.gplus i:hover{
  	color: #d34836;
  }
  a.insta i:hover{
  	color: #fb3958;
  }
  .excel-footer p{
    margin: 0;
    font-size: 20px;
  }
  .college-footer p{
    margin: 3px;
    color: white;
    font-size: 10px;
  }
  #mec img{
    height: 50px;
  }
  .industry-cont{
    margin-top: 50px;
    font-weight: bold;
  }
  .footer-content .college-footer{
    text-align: left;
  }
  .prevlogo img{
    width: 100%;
  }
  .prevlogo{
    display: flex;
    width: 100%;
    position: relative;
  }
  .prevlogo>div{
    width: 40%;
    margin: auto;
    position: relative;
  }
  .prevlogo .line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    background-color: black;
    width: 2px;
    margin: 0px 5px 0px 5px;
  }
  .prevkar>div{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .prevdesc{
    text-align: center;
    font-size: 20px;
  }
  .excel2016 h2{
    text-align: center;
  }
  .ic-small{
    height: 30px;
  }
}

@media (min-width:360px){
  .experience-content>div h3{
    font-size: 11px;
    margin-bottom: 2px;
  }
  /*photo and the text in testimony*/
  .experience-content>div>div>span{
    font-size: 10px;
  }
  .experience-content>div>div>p{
    font-size: 15px;
  }

}

@media (min-width:375px){
  .mec-link{
    left: 0;
    right: unset;
  }
  .mec-link img{
    height: 35px;
  }
}

@media (min-width:768px){

.brochure-button a{
  font-size: 23px;
}
  .reach-content{
    height: 200px;
  }
  .spon16{
    font-size: 25px;
  }
  .prevkar{
    display: flex;
  }
  .roots h2, .roots p, .ibeto p, .ibeto h2, .ibetosection a, .services p, .services h2{
    text-align: unset;
  }
  .ibeto>*{
    width: 100%;
  }
  h2{
    font-size: 30px;
  }
  /*logacy*/
  .tagline img{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo-container{
    margin: auto;
  }
  .logo-container img{
    width: 500px;
  }
  .roots img{
    width: 250px;
    float: left;
    shape-outside: circle();
  }
  .roots p{
    line-height: 25px;
    font-size: 18px;
  }
  section{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container{
    max-width: 960px;
    margin: auto;
  }
  section.drop_screen{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  section.reach{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .reach-content img#logo{
    width: 500px;
  }
  .reach-content p{
    /*line-height: 100px;*/
    /*width: 60%;*/
    font-size: 25px;
  }
  .grad{
    font-size: 30px;
  }
  .reach h2{
    margin-bottom: 0;
  }
  .graphic{
    height: 100px;
  }

  /*ibeto*/

  .ibeto{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ibeto-sec{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    text-align: center;
  }
  .ibeto-sec img{
    /*shape-outside: circle();*/
    width: 250px;
    margin-left: 15px;
  }
  .ibanim{
    position: relative;
  }
  ,.ibeto a{
    margin: auto;
    /*color: white;*/
  }

  .ibeto p{
    line-height: 25px;
    font-size: 18px;
  }

  .services img{
    width: 250px;
    shape-outside: circle();
    float: left;
    margin-right: 35px;
  }

  .services p{
    line-height: 25px;
    font-size: 18px;
  }

  .drop_screen{
    background-position: center;
    height: unset;
    position: relative;
  }
  .overlay{
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .college-container img{
    display: block;
    margin: auto;
    width: 70%;
  }
  .legacy{
    position: static;
    margin: auto;
    z-index: 1;
    /*margin-top: 150px;*/
    text-align: center;
    left: unset;
    transform: unset;
    background: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .mec-link img{
    height: 40px;
  }
  .legacy>img{
    width: 300px;
  }
  .legacy>p{
    text-align: center;
    line-height: 25px;
    font-size: 20px;
  }
  .experience-content{
    display: flex;
    flex-wrap: wrap;
  }
  .experience-content>div{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    /*order: 1;*/
  }
  .experience-content>div>img{
    height: 100%;
  }
  .odd-exp0>img{
    position: relative;
    order: -1;
  }
  .odd-exp1>img{
    position: relative;
    order: 2;
  }
  .experience-content>div h3{
    font-size: 15px;
  }
  .experience-content>div>div>span{
    font-size: 10px;
  }
  .experience-content>div>div>p{
    font-size: 13px;
  }
  .checker{
    background-color: #cc6464;
    color: white;
  }

  /*---tab-view--------*/
  .tabview-container{
    height: 73px;
  }
  .tab-view{
    font-size: 18px;
  }
  .tab-view>div img{
    width: 50px;
    display: block;
    margin: auto;
  }
  .footer{
    margin-bottom: 72px;
    padding-top: 0;
  }
  .footer-content>div{
    width: 60%;
  }
  .footer-content>div#social{
    width: 40%;
  }
  .college-footer p{
    font-size: unset;
  }
  #mec img{
    height: 70px;
  }
  .ic-small{
    height: 50px;
  }
}

@media (min-width:1200px){
  .mec-link img{
    height: 70px;
  }
  .services .industry-cont{
    text-align: right;
  }
  .ibetosection a{
    width: 30%;
  }
  .logo-container img{
    width: 700px;
  }
  .roots img,.services img{
    width: 350px;
  }
  .ibeto img{
    width: 300px;
  }
  .navbar{
    display: none;
  }
  section.college{
    /*height: calc(100vh - 70px);*/
  }
  /*--------tab-styles---------*/
  .tabview-container{
    position: fixed;
    height: 70px;
    line-height: 66px;
    box-shadow: 1px 1px 5px;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
  }
  .tab-view{
    width: 80%;
    margin: auto;
  }
  .page_links{
    display: flex;
  }
  .page_links>div{
    margin: auto;
  }
  .tab-view>div img{
    display: none ;
  }
  .mec-link{
    top: 0;
    left: 0;
    right: unset;
    bottom: unset;
  }
  /*.mec-link img{
    height: 35px;
  }*/
  .tab-view>div{
    border-top: none;
    border-bottom: 4px solid transparent;
  }
  .tab-view>div.active-tab{
    border-top: none;
    border-bottom: 4px solid #c54d4d;
  }
  /*-------dropscreen----------*/
  .drop_screen{
    margin-top: 70px;
    height: calc(100vh - 270px);
  }
  .legacy>p{
    text-align: center;
    margin: auto;
  }
  /*------reach-------*/
  .grad{
    font-size: 38px;
  }
  .reach-content p{
    font-size: 30px;
  }
  /*---------experience-------*/
  /*.experience{
    display: flex;
    padding-top: 0;
  }*/
  .experience-content>div{
    width: 30%;
  }
  .experience>div.experience-header{
    width: 25%;
    margin: auto;
  }
  .experience-content>div h3{
    font-size: 15px;
  }
  .experience-content>div>div>span{
    font-size: 12px;
  }
  .experience-content>div>div>p{
    font-size: 15px;
  }
  div.experience-header>h2{
    position: relative;
  }
  .experience-content{
    width: 100%;
  }
  /*------footer---------*/
  .footer{
    margin-bottom: 0;
  }
  .footer-content>div{
    width: 40%;
  }
  .footer-content>div#social{
    width: 30%;
  }

}

@media (width:1024px) and (height:1366px){
  .drop_screen{
    height: unset;
  }
}

@media(min-width:1400px){

  .experience-content>div>div>h3{
    font-size: 16px;
  }
  .experience-content>div>div>p{
    font-size: 18px;
  }
}

@keyframes scalein{
  0%{
    transform: scale(1)translate(-50%,50%);
  }
  100%{
    transform: scale(0.5)translate(-50%,50%);
  }
}


/* new code */

/* contact */
#contacts{
  background:rgba(26, 188, 156,0.8);
  min-height: auto;
}

.contact-content{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-auto-rows: auto;
grid-gap: 1.5em;
padding: 1.5em;
}

.contact-card{
padding: 2em;
}

.contact-img{
 height:13em;
 border-radius: 20em;

}

.contact-desc{
padding:15px;
color:white;
text-align: center;
}

@media only screen and (max-width: 786px) { 
  .contact-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .8em;
    padding: 1em;
  }
  
  .contact-card{
    padding: 1em;
  }
  
  .contact-img{
     height: 8em;
     border-radius: 20em;
  
  }
  
  .contact-desc{
    padding:10px;
    font-size:16px;
    color:white;
    text-align: center;
  }
}